NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
# UploadThing
UPLOADTHING_SECRET=your_upload_thing_key
UPLOADTHING_APP_ID=coal
UPLOADTHING_TOKEN=your_upload_thing_token